<!DOCTYPE html>
<html lang="en">

  <%- include('partials/head'); %> 

<body>

  <!-- ======= Header ======= -->
  <%- include('partials/header'); %>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  
    <section id="contact" class="contact section-bg" data-aos="fade-up"> 
    <div class="container">
      
      <div class="row">
        
        <div class="col-sm-8 offset-sm-2">
          <div class="section-title" data-aos="fade-up">
            <h2>Account</h2>
            
          </form>
          </div>
          <div id = "validationErrors"></div>
              <div id = "validationSuccess"></div>
              
              <%- include('partials/account-update-form'); %>
             
            <input type="submit" id="button-update-account" class="btn btn-success navtoTop" value="Update">
            <input type="button" class="btn btn-secondary" id="btn_dash" value="Dashboard">
            
         </form> 
        </div>
       
            </div>
    
          </div>
    
        </div>
        
      </div>
      <script>
      $( "#btn_reset" ).click(function() {
        console.log('reset clicked');
        const email = $("#email").val();
        event.preventDefault();
          $ajax({
              dataType: "json",
              type: "POST",
              data: {
                email: email,
              },
              url: "/users/auth/sendResetEmail",
                success: function (data) {
                
              },
              error: function (error) {
                
                console.log(error.message);
               
              }
            
            })      

         
        
      });
    </script>



  <%- include('partials/cookie-msg'); %>
  
  <%- include('partials/scripts'); %>
  <script>
    $(document).ready(function() {
       getData();
       
   });
   
  
   </script>
   

</body>


</html>

